<div class="bloc">
	<div class="header">
	<a href=http://<%= host['url'] %>><%= host['url']%></a>
	</div>
	<div class ="data">
	<p>
	<ul>
		<li><div class="label">Title:</div> <%= host['title'] %></li>
		<li><div class="label">Server:</div> <%= host['server'] %></li>
		<li><div class="label">Dirs found:</div> <%= host['found'] %></li>
		<br>
		<li><div class="label">Screenshot:</div><br><br>

		<% if File.exist? "/tmp/#{host['url']}.png" %>
			<img style="height: 300; widht: 400;" src=/tmp/<%= host['url'] %>.png></li>
			<br>
		<% end %>

		<div class="dirs">
		<% host['dirs'].each do |dir| %>
			<li><div class="label"><%= dir[0] %></div><%= dir[1] %> <%= dir[2] %></li>
		<% end %>
		</div>

	</ul>
	</p>
	</div>
</div>
<br>
<br>