<style>

	.header {
		font-size: 24px;
		font-weight: bold;
		width: 35%;
		color: black;
		padding: 5px;
		padding-left: 15px;

		background: #c9de96; /* Old browsers */
		background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
		box-shadow: 2px 2px 1px silver;
	}

	.data {
		display: block;
		margin-left: 5px;
	}

	.bloc {
		padding: 25px;
		font-size: 22px;
	}

	ul {
		list-style-type: none;
	}

	body {
		padding: 30px;
		font-family: arial;
		background-color: #FFFFFF;
	}

	.label {
		color: #;
		width: 160px;
		padding-right: 0px;
		display: inline-block;
	}

	.code {
		margin-left: 30px;
		width: 150px;
		text-align: right;
		border: 0px solid black;
	}

	.dirs {
		line-height: 40px;
	}

	h1 {
		text-align: center;
		padding: 5px;
	}

	a {
		text-decoration: none;
		color: black;
	}

</style>
